<!DOCTYPE html>
<html>
<head>

<title>CloudOps Dashboard</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
    font-family: Arial;
    margin:30px;
}

.card{
    border:1px solid #ddd;
    padding:20px;
    width:200px;
}

.container{
    display:flex;
    gap:20px;
}

</style>

</head>

<body>

<h1>CloudOps Monitoring Dashboard</h1>

<div class="container">

<div class="card">
<h2>CPU</h2>
<p id="cpu">0%</p>
</div>

<div class="card">
<h2>Memory</h2>
<p id="memory">0%</p>
</div>

<div class="card">
<h2>Disk</h2>
<p id="disk">0%</p>
</div>

</div>

<br>

<canvas id="cpuChart"></canvas>

<script>

let cpuData = [];

const ctx = document.getElementById('cpuChart');

const cpuChart = new Chart(ctx,{
    type:'line',
    data:{
        labels:[],
        datasets:[{
            label:'CPU Usage',
            data:[]
        }]
    }
});

async function loadMetrics(){

    const response = await fetch('/api/metrics');

    const data = await response.json();

    document.getElementById('cpu').innerText =
        data.cpu + "%";

    document.getElementById('memory').innerText =
        data.memory + "%";

    document.getElementById('disk').innerText =
        data.disk + "%";

    cpuChart.data.labels.push('');

    cpuChart.data.datasets[0].data.push(data.cpu);

    if(cpuChart.data.labels.length > 20){

        cpuChart.data.labels.shift();

        cpuChart.data.datasets[0].data.shift();
    }

    cpuChart.update();
}

setInterval(loadMetrics,2000);

</script>

</body>
</html>